@import '../scss/common';

.button {
    border-radius: 5px;
    max-width: 120px;
    text-align: center;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    box-shadow: 10px 10px 14px rgba(26, 26, 67, .1);

    @include max(992) {
        margin-block: 7px;
    }

    &-primary {
        background-color: #4945FF;
        border: 2px solid #4945FF;
        color: white !important;

        &:hover {
            background-color: transparent;
            color: black !important;
            transform: scale(110%);
        }
    }

    &-outline {
        border: 2px solid #4945FF;
        color: black !important;

        &:hover {
            background-color: #4945FF;
            color: white !important;
            transform: scale(110%);
        }
    }
}

.navbar {
    padding-top: .75rem;
    margin-bottom: 1rem;

    .nav-item {

        @include max(992) {
            padding-block: 7px;
        }

        .nav-link {
            font-size: 17px;
            line-height: 1;
            font-weight: 500;

            &:hover {
                color: #4945FF;
            }
        }
    }
}